# התעלמות מתיקיות כבדות של ספריות
node_modules/
client/node_modules/
server/node_modules/

# התעלמות מקבצי מערכת
.DS_Store
Thumbs.db

# התעלמות מתיקיות העלאת קבצים (אנחנו לא רוצים להעלות תמונות בדיקה לגיט)
server/uploads/

# קבצי סביבה (חשוב מאוד בעתיד להסתרת סיסמאות)
.env